@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 30 15% 96%;
    --foreground: 30 10% 8%;
    --card: 30 20% 98%;
    --card-foreground: 30 10% 8%;
    --popover: 30 20% 98%;
    --popover-foreground: 30 10% 8%;
    --primary: 30 10% 10%;
    --primary-foreground: 30 15% 96%;
    --secondary: 30 12% 90%;
    --secondary-foreground: 30 10% 10%;
    --muted: 30 10% 92%;
    --muted-foreground: 30 5% 45%;
    --accent: 30 20% 85%;
    --accent-foreground: 30 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 12% 86%;
    --input: 30 12% 86%;
    --ring: 30 10% 10%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.25rem;
    --sidebar-background: 30 15% 96%;
    --sidebar-foreground: 30 10% 26%;
    --sidebar-primary: 30 10% 10%;
    --sidebar-primary-foreground: 30 15% 96%;
    --sidebar-accent: 30 12% 92%;
    --sidebar-accent-foreground: 30 10% 10%;
    --sidebar-border: 30 12% 86%;
    --sidebar-ring: 30 10% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
